zad1/schema.xsd

<?xml version="1.0" encoding="UTF­8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="biuro">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="pracownik" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="imie" type="xs:string"/>
							<xs:element name="nazwisko" type="xs:string"/>
							<xs:element name="wiek" type="xs:integer"/>
							<xs:element name="plec" type="xs:string"/>
							<xs:element name="pensja" type="xs:integer"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>